block services
- var services=[{img:"/assets/img/svg/speccheck.svg",title:"Быстро",descr:"Одобрение банковской гарантии может занять всего 10 минут, а ее выпуск — от 1 дня!"},{img:"/assets/img/svg/specsearch.svg",title:"Прозрачно",descr:"Прямая работа с банками позволяет добиться наилучших условий."},{img:"/assets/img/svg/specadd.svg",title:"Удобно",descr:"Помогаем собирать пакет документов, чтобы процедура выпуска прошла без проблем."}];
  
section.screen__advantages(style='backgorund-color: #fff')
  .container
    .row
      .col-12
        h2.header__h2.text-center #{servicesHeader}
    .row.cards__spec-service-wrapper
      each card in services
        .col-md-4.col-12.cards__spec-service
          .cards__spec-service-body
            img.cards__spec-service--img(src=card.img, alt='')
            .cards__spec-service--info
              p.cards__spec-service--header
                | #{card.title}
              p.cards__spec-service--descr
                | #{card.descr}
