.faq__container
   .faq__wrapper--extended
        .faq__categories-wrapper
            .faq__info-wrapper
                img.faq__info-img(src="../../.././assets/img/faq-sucess.png", alt="")
                p.faq__info-descr Спасибо за Ваш вопрос! <br /> В ближайшее время мы ответим на него!
