ul#faqTabWrapper.nav.nav-tabs.tabs__faq(role='tablist')
    each category, i in categories
        li.nav-item.tabs__faq-item
            a.nav-link.tabs__faq-link(id="tab-" + (i + 1), data-toggle='tab', href="#faq-" + (i + 1), role='tab', aria-controls='faq-' + (i + 1), aria-selected=(i === 0) ? 'true' : 'false', class=(i === 0) ? 'active' : "") #{category.name}
#faqTabContent.tab-content.tabs__faq-content
    each category, i in categories
        .tabs__faq-tab.tab-pane.fade(id="faq-"+ (i+1), role='tabpanel', aria-labelledby='tab-'+ (i+1), class=(i === 0) ? 'active show    ' : "")
            each question in category.questions
                .faq__item.is-collapsed
                    .faq__item-header
                        a.faq__item-header-trigger.collapsed
                            | #{question.question}
                        .faq__item-opener
                    .faq__item-collapse
                        .faq__item-body
                            | !{question.questionAnswer}