extends ../layout/news

block variables
  - var title = 'exp24 news';
  - var description = 'news page';
  - var pageClass = 'news-page';

block content
  include ../includes/modules/breadcrumbs/breadcrumbs.pug
  include ../includes/modules/news/news-cards.pug
  //include ../includes/modules/pagination
  include ../includes/modules/screens/screen__get-consult-noform.pug
