if categories
    ul#faqTabWrapper.nav.nav-tabs.tabs__faq(role='tablist')
        each category, i in categories
            li.nav-item.tabs__faq-item
                a.nav-link.tabs__faq-link(id="tab-" + (i + 1), data-toggle='tab', href="#faq-" + (i + 1), role='tab', aria-controls='faq-' + (i + 1), aria-selected=(i === 0) ? 'true' : 'false', class=(i === 0) ? 'active' : "", onclick="$(this).tab('show')") #{category.name}
    #faqTabContent.tab-content.tabs__faq-content
        each category, i in categories
            .tabs__faq-tab.tab-pane.fade(id="faq-"+ (i+1), role='tabpanel', aria-labelledby='tab-'+ (i+1), class=(i === 0) ? 'active show': "")
                each question in category.questions
                    .faq__item.is-collapsed
                        .faq__item-header
                            a.faq__item-header-trigger.collapsed
                                | #{question.question}
                            .faq__item-opener
                        .faq__item-collapse
                            .faq__item-body
                                | !{question.questionAnswer}
else
    .faq__info-wrapper
        p.faq__info-descr К сожалению, мы еще не написали ответ на этот вопрос . . . <br> Вы можете отправить на Ваш вопрос и мы объязательно ответим Вам!
        .col-lg-6.offset-lg-3.col-12
            form.faq__info-form(action="faq/ty", method="post")
                input(type='hidden', value!=csrf_token(), name='_token')
                input.faq__info-form--input(name="phone", type="text", placeholder="Номер телефона +7")
                textarea.faq__info-form--input(name="question", cols="30", rows="3", placeholder="Текст вопроса")
                button.faq__info-form--submit(type="submit")
                    | Задать вопрос
                    .faq__info-form--submit-arrow
                        svg.faq__info-form--submit-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
                            g
                                g
                                    path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
                p.faq__info-form--notify Нажимая эту форму, вы даёте согласие на обработку персональных данных.
